/* DataLab Theme */

/* Header colors */
h1, h2, h3, h4, h5, h6, legend {
  color: #022851;
}

/* Sidebar Top Box */
#sidebar h2 {
    background-color: #022851;
}

/* sidebar body */
#sidebar {
  background: #1D4776;
}

#postamble {
  /* Very Bottom Bar in Sidebar */
  background:#022851;
  /* boarder on top of that bottom area */
  border-top:solid 5px #FFBF00;
}

/* Title of the page */
.title {
  text-align: left;
  color: #000000;
}

/* links and anchor hashes */
#main :not(.leaflet-control) > a {
    background-image: linear-gradient(180deg,#FFBF00,#FFBF00);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 2em;
    color:#FFBF00;
    font-weight: bold;
    padding: .125em 1px 0 1px;
    transition: background-position .15s, color .15s;
}

.csl-entry {
  padding-bottom: 10px;
  padding-left: 22px ;
  text-indent: -22px ;
}

.lcol_2{
  float: left;
  width: 50%;
  text-align: left;
}
.rcol_2{
  float: right;
  width: 50%;
  text-align: left;

.colossal{ font-size: 220% }